---
let bags = [];
let degrees = [15, -15, -10, 10, 30, 20, 50];
for (let y = 0; y < 9; y++) {
  for (let x = 0; x < 15; x++) {
    bags.push({
      x: x,
      y: y,
      rotate: degrees[y],
    });
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        @apply select-none;
      }

      .material-symbols-outlined {
        font-variation-settings:
          "FILL" 0,
          "wght" 700,
          "GRAD" 0,
          "opsz" 24;
      }

      @keyframes train {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100vw);
        }
      }

      .train-animation {
        animation: train 20s linear infinite;
      }
    </style>
    <title>Browser Bag</title>
  </head>

  <body>
    <div class="md:hidden max-h-screen overflow-hidden">
      <p class="text-xl font-medium m-[1%] text-nowrap train-animation">
        <span class="text-sm material-symbols-outlined"> open_in_full</span> resize
        the window to switch bag size
        <span class="text-sm material-symbols-outlined"> open_in_full</span>
      </p>
      <div class="flex flex-col gap-10">
        <h1 class="text-xl font-bold text-center mt-[20%]">
          Little Browser Bag
        </h1>
        <a class="z-10 text-3xl font-bold text-center" href="bag"
          >Start Shopping
          <br />

          <span
            class="z-10 text-[72px] material-symbols-outlined hover:text-yellow-400"
          >
            subdirectory_arrow_right
          </span>
        </a>
        <img class="scale-[200%] mt-[50%]" src="/bag.png" alt="paper bag" />
      </div>
    </div>
    <!-- medium -->

    <div
      class="hidden md:block lg:hidden relative w-screen h-screen overflow-hidden"
    >
      <div
        class="mx-10 flex flex-row items-center justify-between m-[3%] text-black"
      >
        <span
          class="z-10 text-[240px] material-symbols-outlined hover:text-yellow-400"
          onmouseover="modifyMdTitle('Adjust browser,<br> change bag size')"
          onmouseout="modifyMdTitle()"
        >
          open_in_full</span
        >
        <a
          class="z-10 text-[240px] material-symbols-outlined hover:text-yellow-400"
          href="bag"
          onmouseover="modifyMdTitle('Start Shopping')"
          onmouseout="modifyMdTitle()">subdirectory_arrow_right</a
        >
      </div>
      <h1
        id="md-title"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-8xl z-10 text-center font-bold"
      >
        *Medium* <br /> Browser <br /> Bag
      </h1>

      <img
        class="w-40 absolute top-[75%] left-[80%] rotate-12"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[55%] left-[20%] -rotate-45"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[30%] left-[75%] rotate-45"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[85%] left-[10%] -rotate-12"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[15%] left-[45%] -rotate-12"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[15%] left-[10%] -rotate-45"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[50%] left-[55%] rotate-12"
        src="/bag.png"
        alt="paper bag"
      />
      <img
        class="w-40 absolute top-[85%] left-[45%] rotate-90"
        src="/bag.png"
        alt="paper bag"
      />
    </div>

    <!-- large -->
    <div
      class="hidden lg:flex lg:items-center relative w-screen h-screen overflow-hidden"
    >
      <div
        class="flex-grow mx-10 flex flex-row items-center justify-between m-[3%] text-black"
      >
        <span
          class="z-10 text-[20vw] material-symbols-outlined hover:text-yellow-400"
          onmouseover="modifyLgTitle('Adjust browser,<br> change bag size')"
          onmouseout="modifyLgTitle()"
        >
          open_in_full</span
        >
        <h1
          id="lg-title"
          class="text-center leading-none text-[10vw] z-10 font-black"
        >
          *Big* <br /> Browser <br /> Bag
        </h1>
        <a
          class="z-10 text-[20vw] material-symbols-outlined hover:text-yellow-400"
          href="bag"
          onmouseover="modifyLgTitle('Start Shopping')"
          onmouseout="modifyLgTitle()">subdirectory_arrow_right</a
        >
      </div>
      <!-- insert bags -->
      {
        bags.map((bag) => {
          return (
            <img
              class="w-[5%] absolute top-[15%] left-[40%] rotate-12"
              style={{
                top: `${bag.y * 12 + 0}%`,
                left: `${bag.x * 8}%`,
                transform: `rotate(${bag.rotate}deg)`,
              }}
              src="/bag.png"
              alt="paper bag"
            />
          );
        })
      }
    </div>

    <script is:inline>
      function modifyLgTitle(text = "*Big* <br /> Browser <br /> Bag") {
        const title = document.querySelector("#lg-title");
        title.innerHTML = text;
      }

      function modifyMdTitle(text = "*Medium* <br /> Browser <br /> Bag") {
        const title = document.querySelector("#md-title");
        title.innerHTML = text;
      }
    </script>
  </body>
</html>
